<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>     
     <%- include('partials/navbar.ejs') %>

     <!-- HOME -->
     <section id="home" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="home-info">
                              <h1>Hi. I am Ramandeep.</h1>
                              <span>
                                   Game Developer / Software Developer
                              </span>
                              <br><br>
                              <a href="/about" class="btn section-btn smoothScroll">About Me</a>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <img src="/images/writing_code.gif" alt="gif" style="object-fit:cover; width: 75%; height: 75%;">
                    </div>
                    
               </div>
          </div>
     </section>
     
</body>
</html>